/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*reset*/
/*common*/

h1 {
    font-size: 60px;
}

.flex {
    display: flex;
}

.space {
    margin: 20px 0 30px 0;
}

.blue-box {
    padding: 5px 10px;
    background-color: #0061ff;
    display: block;
    text-align: center;
}

.blue-box>a {
    color: white !important;
    text-decoration: none;
}

.padd {
    padding: 10px 10px;
}

ul {
    list-style: none;
}

.border {
    border: 1px solid #d0d0d3;
}
img{
    width: 100%;
}
/*common*/
/*typography*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

/*typography*/
/*header*/
header {
    margin: 0;
    background-color: #b4d0e7;
}

.navbar {
    font-size: 14px;
    justify-content: space-between;
    position: fixed;
    height: 80px;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: white;
}
.navbar a{
    text-decoration: none;
    color: black;
}

.navbar ul li {
    padding: 30px 12px;
    border-bottom: 1px solid transparent;
}

.navbar ul li:hover {
    border-color: black;
}

#logo {
    border: none;
    align-self: center;
}

#btn {
    border: none;
    align-self: center;
}

#jumbotron .contenitore {
    max-width: 1000px;
    margin: 0px auto;
    position: relative;
    bottom: -100px;
    padding: 20px 40px 30px 40px;
}

#jumbotron .contenitore .box2 {
    margin-top: 30px;
    width: 70%;
}

#jumbotron .contenitore .box1 {
    width: 30%;
    padding-top: 30px;
}

#intestazione-link {
    display: inline-block;
    margin: 20px 0;
}

.freccia {
    font-size: 30px;
    margin-top: 40px;
}

/*header*/
/*main*/
section {
    margin: 30px;
}

main .contenitore {
    margin: 120px auto 0 auto;
    width: 800px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
    padding-bottom: 10px;

}

h4 {
    padding-bottom: 20px;
}

.radio-btn {
    padding: 40px 30px 20px 10px;
    display: inline-block;
}

.radio-btn input {
    margin-right: 5px;
}

.tab {
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
}

.piano {
    text-align: center;
}

.dettagli-piano ul {
    padding-top: 40px;
}

.dettagli-piano ul li {
    padding-bottom: 20px;
    gap: 5px;

}

.tariffa {
    color: #6699ce;
    padding-top: 10px;
}

#ul-3box {
    padding-top: 70px
}

i {
    padding-top: 1.85px;
}

hr {
    width: 45px;
    color: #d0d0d3;
    margin-bottom: 30px;
}
main .contenitore .box1 {
    order: 2;
    width: 35%;
    padding-left: 20px;
}

main .contenitore .box2 {
    width: 65%;
    padding-right: 10px;
}
.orizzontale {
    justify-content: space-between;
    padding: 20px;
    margin: 0;
}
.cont-2{
    margin: 20px auto !important;
}
.partner-btn{
    border: 1px solid black;
    padding: 10px 10px;
    margin:30px 0;
}
.partner-btn a{
text-decoration: none;
color: black;
}
.cards-box{
flex-wrap: wrap;
gap:30px;
 margin-top: 60px;
}
.cards{
    width: calc(100% /3 - 20px);
    padding: 10px;
}
#maggiori-info{
    display: block;
    margin-top: 30px;
}
/*main*/