/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*reset*/
/*common*/

h1 {
    font-size: 60px;
}

.flex {
    display: flex;
}

.space {
    margin: 20px 0 30px 0;
}

.blue-box {
    padding: 5px 10px;
    background-color: #0061ff;
    display: block;
    text-align: center;
}
.white-btn{
    background-color: white;
    padding: 5px 20px;
}
.white-btn a{
    color: black;
    text-decoration: none;
}
.blue-box>a {
    color: white !important;
    text-decoration: none;
}

.padd {
    padding: 10px 10px;
}

ul {
    list-style: none;
}

.border {
    border: 1px solid #d0d0d3;
}
img{
    width: 100%;
}
hr{
    width: 20%;
    color: #d0d0d3;
}
/*common*/
/*typography*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

/*typography*/
/*header*/
header {
    margin: 0;
    background-color: #b4d0e7;
}

.navbar {
    font-size: 14px;
    justify-content: space-between;
    position: fixed;
    height: 80px;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}
.navbar a{
    text-decoration: none;
    color: black;
}

.navbar ul li {
    padding: 30px 12px;
    border-bottom: 1px solid transparent;
}

.navbar ul li:hover {
    border-color: black;
}

#logo {
    border: none;
    align-self: center;
}

.btn {
    border: none;
    align-self: center;
}

#jumbotron .contenitore {
    max-width: 1000px;
    margin: 0px auto;
    position: relative;
    bottom: -100px;
    padding: 20px 40px 30px 40px;
}

#jumbotron .contenitore .box2 {
    margin-top: 30px;
    width: 70%;
}

#jumbotron .contenitore .box1 {
    width: 30%;
    padding-top: 30px;
}

#intestazione-link {
    display: inline-block;
    margin: 20px 0;
}

.freccia {
    font-size: 30px;
    margin-top: 40px;
}
/*header*/
/*main*/

main .contenitore {
    margin: 120px auto 0 auto;
    width: 800px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
    padding-bottom: 10px;

}

h4 {
    padding-bottom: 20px;
}

.radio-btn {
    padding: 40px 30px 20px 10px;
    display: inline-block;
}

.radio-btn input {
    margin-right: 5px;
}

.tab {
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
}

.piano {
    text-align: center;
}

.dettagli-piano ul {
    padding-top: 40px;
}

.dettagli-piano ul li {
    padding-bottom: 20px;
    gap: 5px;

}

.tariffa {
    color: #6699ce;
    padding-top: 10px;
}

#ul-3box {
    padding-top: 70px
}

i {
    padding-top: 1.85px;
}

.dettagli-piano hr {
    margin-bottom: 30px;
}
main .contenitore .box1 {
    order: 2;
    width: 35%;
    padding-left: 20px;
}

main .contenitore .box2 {
    width: 65%;
    padding-right: 10px;
}
.orizzontale {
    justify-content: space-between;
    padding: 20px;
    margin: 0;
}
.cont-2{
    margin: 20px auto !important;
}
.partner-btn{
    border: 1px solid black;
    padding: 10px 10px;
    margin:30px 0;
    background-color: white;
}
.partner-btn a{
text-decoration: none;
color: black;
}
.cards-box{
flex-wrap: wrap;
gap:30px;
 margin-top: 60px;
}
.cards{
    width: calc(100% /3 - 20px);
    padding: 10px;
}
#maggiori-info{
    display: block;
    margin: 30px 0 60px 0;
}
.partnership{
    width: 100%
}
.ptn-col{
   width: calc(100% / 2 - 5px);
    
    flex-wrap: wrap;
}
.ptn-box{
    width: 50%;  
    height: 50%;
    justify-content: center;
}
.ptn-col img{
width: 50%;
filter: invert(1);
}
.ptn-middle img{
    filter:none;
    width: 50%;
}

#designit-logo{
    background-color: #a2d39b;
    border: 14px solid #d1e9cd;
    
}
#asu{
    background-color: #61082b;
}
#uf img{
    height: 40px;
}
#uf{
    background-color: #0093ce;
    align-items: center;
}
#topps{
    background-color: #ff1c1c;
}
.ptn-middle{
    padding: 30px 20px;
    background-color: #f5f5f5;
}
.ptn-middle hr{
    margin: 50px 0;
}
#box-f{
    padding-top: 30px;
}
#wbr{
    background-color: #d5001f;
}
#hearts-c{
    background-color: #b4d0e7;
}
#lonely-plt{
    background-color: #0d2481;
}
#clear-chn{
    background-color: #ffd830;
}
.prova-free{
    width: 100%;
    background-color: #b4d0e7;
}
.prova-free .contenitore{
    margin: 0 auto;
    padding: 100px 0;
    justify-content: space-between;
    color: #61082b;
}
.question-box{
    justify-content: space-between;
   padding-top: 30px;
    height: 77px;
    overflow: hidden;
}

.question-box:hover{
height: 150px;
}
.question-box:hover .fa-angle-down{
    transform: rotate(180deg);
}
.answer{
    padding-top: 40px;
}
.info hr{
    width: 100%;
}

/*main*/
/*footer*/
footer{
    background-color: black;
}
footer .contenitore{
    width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
    margin-top: 100px;
    gap: 20px;
}
.foot-col{
    width: calc( 100%  /5);
    color: white;
}
.foot-box{
padding-top: 10px;
}
.foot-box a{
    color: white;
    text-decoration: none;
}
.foot-box li{
    line-height: 25px;
}
footer hr{
    width: 20%;
    color: white;
    margin-bottom: 20px;
}
.lingua{
    color: #999999;
    padding-right: 5px;
    gap: 5px;
    align-items: center;
}
.contenitore2{
    width: 1000px;
    margin: 0 auto;
    padding: 80px 0 40px 0;
}
/*footer*/
